body {
    background-color: white;
    position: relative;
    text-align: center;

}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#remember {
    padding-top: 100px;

}

#author {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: red;
}