body {
  background-color: white;
  position: relative;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.add {
  background-color: rgb(255, 99, 71);
  font-size: 15px;
  height: 40px;
  width: 82px;
  font-weight: normal;
  margin-bottom: 40px;
  border: none;
}

.images {
  background-color: rgb(255, 99, 71);
  font-size: 15px;
  height: 40px;
  width: 82px;
  font-weight: normal;
  margin-left: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.button {
  padding-left: 20px;
}

.btn-align {
  position: absolute;
  transform: translate(0px, -54px);
  max-width: 822px;
  
}

.note-buttons {
  border: none;
  background-color: #DCDCDC;
  font-size: 20px
}

.note-buttons:hover {
  color: red;
}

.span {
  background-color: #DCDCDC;
  height: 27px;
  transform: translate(0px, -27px);
}

.defaultView {
  position: absolute;
  transform: translate(62px, -23px);
  cursor: pointer
}



.re {
  font-weight: normal;
}

.member {
  font-weight: normal;
}

.page-container {
  padding-left: 40px;
}

.content-wrap {
  padding-bottom: 150px;
}

.author {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 60px;
  width: 80%;
  height: 20px;
  background-color: rgb(255, 99, 71);
  padding-left: 60px;
  border-style: solid;
  border-width: thin;
}

.developer {
  margin: 0;
}

.remember {
  padding-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  color:#C4C4C4;
}

.text {
  border-style: solid;
  border-width: thin;
  font-size: 20px;
  width: 701px;
  height: 30px;
  max-height: 300px;
  background-color: #C4C4C4;
}

.test {
  background-color: rgb(255, 99, 71);
  width: 100px;
  height: 90px;
  border: none;
}

.homepage {
  padding-left: 40px;
}

.logging {
  padding-right: 100px;
}

.sidepanel {
  width: 300px;
  position: fixed;
  z-index: 1;
  height: 600px;
  top: 0;
  left: 0;
  background-color: rgb(118, 118, 118);
  overflow-x: hidden;
  padding-top: 30px;
}

.list {
  display: flex;
  align-items: center;
  flex-basis: 20px;
  flex-wrap: wrap;
}

h2,
p {
  font-size: 100%;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h2 {
  margin-top: 40%;
}

ul {
  padding: 3em;
  word-wrap: break-word;
  white-space: pre-wrap;
  list-style: none;
  margin-left: 300px;
  margin-right: 300px;
}
ul li a {
  overflow: auto;
  border-style: solid;
  border-width: inherit;
  text-decoration: none;
  color: #000;
  background: #C4C4C4;
  display: block;
  height: 200px;
  width: 200px;
}

ul li {
  margin: 1em;
}

#hover{
   visibility: hidden;
}

#hovernote:hover > #hover{
  visibility:visible;
}

.filters {
  font-size: 21px;
  font-weight:bold;
  transform: translate(-50px, 25px);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(118, 118, 118);
  border: solid black;
  border-width: 2px 2px 2px 2px;

  
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(118, 118, 118);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  color: black;
  
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  color: black;
  left: 6px;
  width: 5px;
  height: 13px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.labels {
  font-weight: normal;
  transform: translate(-25px, -60px);
}

.container-label {
  transform: translate(0, -70px);
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border:solid black;
  border-width: 1px;
  background-color: rgb(118, 118, 118);
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  background-color: rgb(118, 118, 118);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-label input:checked ~ .checkmark-label:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-label .checkmark-label:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
    border: solid black;
	border-radius: 50%;
	background: black;
}